body{
    background-color:rgb(0, 238, 255);
    font-family: Michroma;

}
h1{
    color: black;
    
    
    
}
h2{

}
p {
    text-indent: 50px;
}

form{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
