body {
  text-align: center;
  background-color: rgb(31, 38, 41);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin: 5px;
  padding: 5px;
  width: 450px;
  justify-content: center;
  border-radius: 5px;
}

button {
  background-color: rgb(107, 245, 107);
  border-radius: 4px;
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.4);
  size-adjust: 10rem;
}

h1 {
  font-size: 10 rem;
  color: #7b9dad;
  margin-top: 20px;
}
#meme-container {
  position: relative;
  display: inline-block;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

form {
  margin: 20px auto;
  padding: 15px;
  border-radius: 4px;
  background: #7b9dad;
  display: inline-block;
  box-shadow: 3px 3px;
  justify-content: center;
  width: 100%;
}

.meme {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  width: 350px;
  overflow: hidden;
}

.meme img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  width: 90%;
  padding: 5px;
}

.meme-text.top {
  top: 10px;
}
.meme-text.bottom {
  bottom: 0px;
}

.delete-meme {
  position: absolute;
  right: 5px;
  top: 5px;
  background: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 15px;
  padding: 4px 8px;
  cursor: pointer;
}
